/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* GLOBAL VARIABLES */
:root {
    /* FONTS */
    --font-family: 'Poppins',sans-serif;
    --font-size-1: 2rem;
    --font-size-2: 1.5rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1rem;
    --font-size-5: .938rem;
    --font-size-6: .813rem;
    --font-size-7: .75rem;

    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;

    /* COLORS */
    --primary-color: ;
    --button-color: ;
    --button-color-hover: ;
    --text-color-dark: ;
    --text-color-light: ;
}

/* GENERAL STYLES & RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--font-family);
    font-size: var(--font-size-5);
}

body {
    margin: 0;
    background-color: #fff;
    color: #fff;
    transition: .5s;
}

h1,h2,h3 {
    font-weight: var(--font-weight-medium);
    color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

/* COMMON CSS CLASSES */
.container {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.section {
    padding: 0;
}

.section__title {
    position: relative;
    margin-bottom: 3rem;
    font-size: var(--font-size-3);
    text-transform: uppercase;
}

.section__title--center {
    text-align: center;
}

/* HEADER */
.header {
    width: 100%;
    background-color: #fff;
    transition: .5s;
}

.header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HOME */

/* ABOUT */


/* PRODUCTS */


/* TESTIMONIALS */


/* CONTACT */


/* FOOTER */